.datos{
    margin-top: 5%;
    margin-left: 15%;
    width: 85%;
    height: 10%;
}

input{
    position: absolute;
    background: rgb(205, 240, 205);
    border: 2px solid rgb(205, 240, 205);
    box-sizing: border-box;
    width: 70%;
    height: 6.2%;
}

.ingresar{
    position: absolute;
    top:55%;
    left: 37%;
    height: 9.5%;
    width: 25%;
}