<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votaciones USTA</title>
    <link rel="stylesheet" href="../CSS/interfaz.css">
    <link rel="stylesheet" href="../CSS/estadisticas.css">
</head>
<body>
    <div class="fondo">
        <img src="../img/wallpaper.jpg"width="100%"height="100%" alt="WORDLE">
        <div class="formulario">
            <div class="logo"><img src="../img/wordle_banner.png"width="100%"height="100%" alt="WORDLE"></div>
            <div class="info">
                <div class="titulo" style="margin-top: -20%;">
                    <h1>Estadísticas</h1>
                </div>
                <div class="estadisticas">
                    <div class="division">
                        <div class="titulo">
                            <h1>0</h1>
                        </div>
                        <br><br>
                        <h2>Jugadas</h2>
                    </div>
                    <div class="division2">
                        <div class="titulo">
                            <h1>0%</h1>
                        </div>
                        <br><br>
                        <h2>Victorias</h2>
                    </div>
                </div>
                <div class="titulo">
                    <h1>Distribucción</h1>
                </div>
                <div class="distribuccion">
                    <h6>1: (0%)</h6>
                    <h6>2: ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ (50%)</h6>
                    <h6>3: ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ ⬛ (50%)</h6>
                    <h6>4: (0%)</h6>
                    <h6>5: (0%)</h6>
                    <h6>6: (0%)</h6>
                    <h6>X: (0%)</h6>
                </div>
                <div class="botones">
                    <a href="./juego.html">
                        <button style="margin-top: -10%;"><h3>Jugar Partida</h3></button>
                    </a>
                    <a href="./menu.html">
                        <button><h3>Menu</h3></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>