<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORDLE</title>
    <link rel="stylesheet" href="../CSS/interfaz.css">
    <link rel="stylesheet" href="../CSS/juego.css">
    <script src="../JS/juego.js" defer></script>
</head>

<body>
    <div class="fondo">
        <img src="../img/wallpaper.jpg" width="100%" height="100%" alt="WORDLE">
        <div class="formulario">
            <div class="logo"><img src="../img/wordle_banner.png" width="100%" height="100%" alt="WORDLE"></div>
            <div class="info">
                <div class="container">
                    <div class="cuadricula">
                        <div class="intento">
                            <div class="letra"  id="1-1"><h1></h1></div>
                            <div class="letra"  id="1-2"><h1></h1> </div>
                            <div class="letra"  id="1-3"><h1></h1> </div>
                            <div class="letra"  id="1-4"><h1></h1> </div>
                            <div class="letra"  id="1-5"><h1></h1> </div>
                        </div>
                        <div class="intento">
                            <div class="letra"  id="2-1"><h1></h1></div>
                            <div class="letra"  id="2-2"><h1></h1></div>
                            <div class="letra"  id="2-3"><h1></h1></div>
                            <div class="letra"  id="2-4"><h1></h1></div>
                            <div class="letra"  id="2-5"><h1></h1></div>
                        </div>
                        <div class="intento">
                            <div class="letra" id="3-1"><h1></h1></div>
                            <div class="letra" id="3-2"><h1></h1></div>
                            <div class="letra" id="3-3"><h1></h1></div>
                            <div class="letra" id="3-4"><h1></h1></div>
                            <div class="letra" id="3-5"><h1></h1></div>
                        </div>
                        <div class="intento">
                            <div class="letra" id="4-1"><h1></h1></div>
                            <div class="letra" id="4-2"><h1></h1></div>
                            <div class="letra" id="4-3"><h1></h1></div>
                            <div class="letra" id="4-4"><h1></h1></div>
                            <div class="letra" id="4-5"><h1></h1></div>
                        </div>
                        <div class="intento">
                            <div class="letra" id="5-1"><h1></h1></div>
                            <div class="letra" id="5-2"><h1></h1></div>
                            <div class="letra" id="5-3"><h1></h1></div>
                            <div class="letra" id="5-4"><h1></h1></div>
                            <div class="letra" id="5-5"><h1></h1></div>
                        </div>
                        <div class="intento">
                            <div class="letra" id="6-1"><h1></h1></div>
                            <div class="letra" id="6-2"><h1></h1></div>
                            <div class="letra" id="6-3"><h1></h1></div>
                            <div class="letra" id="6-4"><h1></h1></div>
                            <div class="letra" id="6-5"><h1></h1></div>
                        </div>
                    </div>
                    <div class="teclado" id="teclado">
                        <div class="intento">
                            <button class="tecla" id="Q">Q</button>
                            <button class="tecla" id="W">W</button>
                            <button class="tecla" id="E">E</button>
                            <button class="tecla" id="R">R</button>
                            <button class="tecla" id="T">T</button>
                            <button class="tecla" id="Y">Y</button>
                            <button class="tecla" id="U">U</button>
                            <button class="tecla" id="I">I</button>
                            <button class="tecla" id="O">O</button>
                            <button class="tecla" id="P">P</button>
                        </div>
                        <div class="intento">
                            <button class="tecla" id="A">A</button>
                            <button class="tecla" id="S">S</button>
                            <button class="tecla" id="D">D</button>
                            <button class="tecla" id="F">F</button>
                            <button class="tecla" id="G">G</button>
                            <button class="tecla" id="H">H</button>
                            <button class="tecla" id="J">J</button>
                            <button class="tecla" id="K">K</button>
                            <button class="tecla" id="L">L</button>
                            <button class="tecla" id="Ñ">Ñ</button>
                        </div>
                        <div class="intento">
                            <button class="enter" id ="enter">Enter</button>
                            <button class="tecla" id ="Z">Z</button>
                            <button class="tecla" id ="X">X</button>
                            <button class="tecla" id ="C">C</button>
                            <button class="tecla" id ="V">V</button>
                            <button class="tecla" id ="B">B</button>
                            <button class="tecla" id ="N">N</button>
                            <button class="tecla" id ="M">M</button>
                            <button class="tecla" id ="borrar">⌫</button>
                        </div>
                    </div>
                    <div class="Volver">
                        <a href="./menu.html">
                            <button><h3>Volver</h3></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>