.logo{
    margin-top: -5%;
    margin-left: 18%;
    width: 50%;
    height: 10%;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 55% auto / 1fr;
    grid-template-areas:
        "cuadricula cuadricula"
        "teclado teclado";
}

.cuadricula {
    margin-right: 10%;
    margin-left: 10%;
    grid-area: cuadricula;
    display: grid;
    place-items: center;
}

.teclado {
    margin-right: 2%;
    margin-left: 2%;
    grid-area: teclado;
    display: grid;
    place-items: center;
}

.intento {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letra {
    width: 16%;
    height: 90%;
    border: 3px solid green;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.tecla{
    width: 8%;
    height: 80%;
    background: #D3D6DA;

}
.enter{
    width: 25%;
    height: 80%;
    background: #D3D6DA;

}