.logo{
    margin-top: -5%;
    margin-left: 18%;
    width: 50%;
    height: 10%;
}
.container {
    margin-top: -10%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 65% auto / 1fr;
    grid-template-areas:
        "cuadricula cuadricula"
        "teclado teclado";
}

.cuadricula {
    margin-right: 18%;
    margin-left: 18%;
    margin-bottom: 10%;
    grid-area: cuadricula;
    display: grid;
    place-items: center;
}

.teclado {
    margin-top: -13%;
    margin-bottom: -5%;
    margin-right: 7%;
    margin-left: 7%;
    grid-area: teclado;
    display: grid;
    place-items: center;
}

.intento {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letra {
    width: 16%;
    height: 90%;
    border: 4px solid;
    border-color: rgb(109, 169, 101);
    border-radius: 5px;
    text-align: center;
    margin-top: -20%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 30px;
    align-items: center;
    margin-top: 10%;
}

h2 {
    font-size: 15px;
}

.tecla{
    border-color: transparent;
    width: 9%;
    height: 80%;
    background: #D3D6DA;
    font-size: 18px;
    font-weight: 700;
}
.enter{
    border-color: transparent;
    width: 18%;
    height: 80%;
    background: #D3D6DA;
    font-size: 18px;
    font-weight: 700;
}

.Volver {
    margin-top: 10%;
    margin-bottom: -10%;
    margin-left: 38%;
    margin-right: 38%;
}

.Volver button {
    height: 50%;
}